body{background-color:#f9f9f9;}

.intro_box{height:900px;margin-top:20px;margin-bottom:20px; background-color:#fff;}
.nav_box{float:left;width:148px;height:898px;border:1px solid #eee;padding:0 20px 0 40px; }
.intro_nav{font-size:14px;font-family:'Microsoft YaHei';}
.intro_nav li{line-height:40px;}
.intro_nav li a{display:block;height:40px;border-bottom:1px solid #eee;}
.cur{height:40px;line-height:40px;font-family:"Microsoft YaHei";font-size:14px;font-weight:bold;color:#ff3c3c;border-bottom:1px solid #eee;}
.tip{position:absolute;left:0;top:0; height:40px;width:5px;background-color:#ff3c3c;}

.intro_content{position:relative;float:left;width:769px;height:898px;border:1px solid #eee;border-left:none;}
.essay{position: absolute;padding:0 30px;background:#fff;}
.essay_title{width:709px;height:50px;line-height:50px;border-bottom:1px solid #eee;color:#000;font-size:18px;font-family:'Microsoft YaHei';font-weight:normal;}
.c_essay,.e_essay{line-height:24px;margin-top:36px;font-size:12px;}
.c_essay p{margin: 0px;}