/* css reset */
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4{margin:0;padding:0;list-style:none;}
body{font:12px Tahoma;color:#666;}
a{text-decoration:none;color:#666;}
a:hover{color:#c00;}
input,select,textarea{font:12px Tahoma;outline:none;}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0}
.clearfix{*zoom:1}
img{border:none;}
/* layout */
.wrap{position:relative;margin:0 auto;width:980px;_zoom:1;}
.fl{float:left;}
.fr{float:right;}
.mt{margin-top:10px;}
.ml{margin-left:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}