
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481787738598'); /* IE9*/
  src: url('iconfont.eot?t=1481787738598#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481787738598') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481787738598') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481787738598#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e77d"; }

.icon-save1:before { content: "\e607"; }

.icon-quxiao:before { content: "\e651"; }

.icon-save:before { content: "\e628"; }

.icon-baobiao:before { content: "\e600"; }

.icon-daochu:before { content: "\e601"; }

.icon-houtaiguanli:before { content: "\e602"; }

.icon-jiankangbaogao:before { content: "\e603"; }

.icon-rili:before { content: "\e604"; }

.icon-shouye:before { content: "\e605"; }

.icon-zhuxiao:before { content: "\e606"; }

