@charset "utf-8";
/*
 *Description :  数据直播厅;
 *Author : Wang Juan5;
 *Date : 2017/04/19
*/
html{
    width: 100%;
    height: 100%;
    background-color: #232c31;/*chrome/safir*/
}
body{
    width: 1920px;
    height: 1200px;
    transform: scale(1);
    transform-origin: left top 0px;
    /*overflow: hidden;*/
}
.data_live_hall{
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: -webkit-radial-gradient(60% 60% at 50% -10%,#3a4c53,#232c31);!*chrome/safir*!*/
    /*background-image: radial-gradient(60% 60% at 50% -10%,#3a4c53,#232c31);*/
    z-index: 2;
}
.dlh_header{
    height: 130px;
    padding: 0 60px;
    overflow: hidden;
}
.head_logo_box{
    float: left;
}
.head_logo_box img{
    width: 100%;
    height: 130px;
    vertical-align: middle;
}
.header_time_box{
    float: left;
    height: 30px;
    padding: 50px 30px;
}
.header_time_box em{
    float: left;
    color: #5f6d78;
    font: 24px/30px 'Arial';
}
.header_time_box em.date_year{
    margin-right: 30px;
}
.header_shop_box{
    float: left;
    height: 30px;
    padding: 50px 0px;
}
.header_shop_box img{
    margin-right: 20px;
}
.header_shop_box em{
    color: #81919e;
    font: 20px/30px 'Microsoft YaHei';
}


/*固定部分*/
.dlh_fixed_container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 450px;
    padding: 0 60px;
}
.dlh_module_box{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex: 1;
    color: #fff;
}
.dlh_module_box img{
    width: 100%;
}
.module_tit .tit{

}
.module_tit .tit h3{
    font: 30px/60px 'Microsoft YaHei';
    text-align: center;
}
.module_tit .tit p{
    color:#81919e;
    font: 18px/20px 'Arial';
    text-align: center;
}
.module_graph{
    position: relative;
    height: 220px;
}
.module_graph .turnover{
    color: #edeeef;
    font: 60px/220px 'Arial';
    text-align: center;
}
.module_data{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow:row wrap;
    flex-flow: row wrap;
    align-items:center;
}
.module_data .data{
    position: relative;
    width: 50%;
    text-align: center;
}
.module_data .data .num{
    color: #fff;
    font: 30px/32px 'Arial';
    text-align: center;
}
.module_data .data .en{
    color: #66727c;
    font: 20px/34px 'Microsoft YaHei';}



/*非固定部分*/
.dlh_unfixed_container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 410px;
    padding: 0 50px 40px;
}
.dlh_unfixed_container .module_tit h3,
.dlh_unfixed_container .module_tit p{
    text-align: left;
}
.dlh_unfixed_container .module_tit h3{
    font: 24px/42px 'Microsoft YaHei';
}
.dlh_unfixed_container .module_tit p{
    color: #81919e;
    font: 18px/30px 'Arial';
}
.dlh_unfixed_container .module_data{
    position: relative;
    height: 380px;
    padding-right: 40px;
}
.dlh_unfixed_container .module_data .data .num{
    height: 60px;
    line-height: 60px;
}
.dlh_unfixed_container .module_data .data .num span{
    display: inline-block;
    min-width: 130px;
    /*height: 4px;*/
    /*background-color: #37adca;*/
    border-bottom: 4px #37adca solid;
}
.dlh_unfixed_container .module_data .data:nth-child(2) .num span{
    border-color: #f1509f;
}
.dlh_unfixed_container .module_data .data:nth-child(3) .num span{
    border-color: #ddd621;
}
.dlh_unfixed_container .module_data .data:nth-child(4) .num span{
    border-color: #27c37b;
}
.dlh_unfixed_container .module_data .data .en{
    height: 50px;
    color: #71818e;
    line-height: 50px;
}
.module_data .rank_list{
    width: 100%;
}
.module_data .rank_list dt,
.module_data .rank_list dd{
    float: right;
    height: 48px;
}
.module_data .rank_list dt{
    color: #71818e;
    font: 20px/48px 'Simsun Heiti';
}
.module_data .rank_list dd{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    border: 1px #606e7a dashed;
    background-color: #212c35;
}
.module_data .rank_list dd i{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex:1;
    -ms-flex:1;
    flex: 1;
    padding-left: 10px;
    color: #71818e;
    font: italic 36px/48px 'Bodoni MT';
}
.module_data .rank_list dd h4{
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -moz-box-flex:7;
    -ms-flex:7;
    flex: 7;
    max-width: 300px;
    height: 48px;
    color: #71818e;
    font: 20px/48px 'Microsoft YaHei';
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.module_data .rank_list dd span{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    align-content:flex-end;
    padding-right: 10px;
    color: #71818e;
    font: 24px/48px 'Microsoft YaHei';
    text-align: right;
}
.module_data .rank_list dd span em{
    color: #71818e;
    font: 24px/48px 'Tahoma';
}



.dynamic_circle{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
    padding:10px 40px;
}
/*.dynamic_circle .circle_box{*/
    /*position: relative;*/
    /*flex: 4 1 33.33%;*/
    /*height: 120px;*/
/*}*/
.dynamic_circle  .circle{
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*opacity: 0.2;*/
}
.dynamic_circle  .circle:before{
    position: absolute;
    top: -10px;
    left: -10px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 10px #17b6ad solid;
    border-radius: 50%;
    opacity: 0.1;
}
.dynamic_circle  .circle:after{
    position: absolute;
    top: -20px;
    left: -20px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 20px #bbbb36 solid;
    border-radius: 50%;
    opacity: 0.05;
}
.dynamic_circle  .circle_fir{
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #17b6ad;
}
.dynamic_circle  .circle_sec{
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    /*margin-left: -100px;*/
    /*margin-bottom: -100px;*/
    background-color: #bbbb36;
}
.dynamic_circle  .circle_thi{
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #09b9f9;
}
.dynamic_circle  .circle_four{
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #14c798;
}
.dynamic_circle  .circle_five{
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    /*margin-top: -100px;*/
    /*margin-left: -100px;*/
    background-color: #07bac6;
}








.module_canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    margin-left: -110px;
    margin-top: -110px;
}



























@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100%{opacity: 0;}
}
/* 添加兼容性前缀 */
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* 定义blink类*/
.blink{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #FFF;
    top: 100px;
    left: 50%;
    position: relative;
    transform-origin: 100% 0;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
    opacity: 1;
    animation: blink 1.75s linear infinite;
    /*!* 其它浏览器兼容性前缀 *!*/
    -webkit-animation: blink 1.75s linear infinite;
    -moz-animation: blink 1.75s linear infinite;
    -ms-animation: blink 1.75s linear infinite;
    -o-animation: blink 1.75s linear infinite;
    color: #dd4814;
}
.stay{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #676e72;
    top: 100px;
    left: 10%;
    position: relative;
    transform-origin: 100% 0;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
    opacity: 1;
}
.stay1{
    top: 80px;
    left: 20%;
    animation: blink 2.5s linear infinite;
    /*!* 其它浏览器兼容性前缀 *!*/
    -webkit-animation: blink 2.5s linear infinite;
    -moz-animation: blink 2.5s linear infinite;
    -ms-animation: blink 2.5s linear infinite;
    -o-animation: blink 2.5s linear infinite;
}
.stay2{
    top: 60px;
    left: 30%;
}
.stay3{
    top: 10px;
    left: 40%;

}
.stay4{
    top: 55px;
    left: 50%;
}
.stay5{
    top: 85px;
    left: 55%;
}
.stay6{
    top: 175px;
    left: 60%;
}
.stay7{
    top: 180px;
    left: 70%;
}
.stay8{
    top: 90px;
    left: 65%;
}
.stay9{
    top: 20px;
    left: 80%;
}
.space {
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(60% 60% at 50% -10%,#3a4c53,#232c31);/*chrome/safir*/
    background-image: radial-gradient(60% 60% at 50% -10%,#3a4c53,#232c31);
}
.space .stars{
    height: 50%;
}
.star {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    top: 100px;
    left: 50%;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 6s infinite ease-out;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .15);
    opacity: 0;
    z-index: 2;
}
.star:after {
    content: '';
    display: block;
    top: 0px;
    left: 4px;
    border: 0px solid #fff;
    border-width: 0px 90px 2px 90px;
    border-color: transparent transparent transparent rgba(255, 255, 255, .3);
    transform: rotate(-40deg) translate3d(1px, 3px, 0);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
    transform-origin: 0% 100%;
    animation: shooting-ani 3s infinite ease-out;
}
.pink {
    top: 30px;
    left: 40%;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    transform: rotate(-20deg) translate3d(1px, 3px, 0);
}
.pink:after {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
}
.blue {
    top: 35px;
    left: 60%;
    animation-delay: 7s;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
}
.blue:after {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
}
.yellow {
    top: 50px;
    left: 55%;
    animation-delay: 5.8s;
}
.yellow:after {
    animation-delay: 5.8s;
}
@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
    }
}