html,body{
    width: 100%;
    height: 100%;
}
.prism_login_bg{
    background: url("../images/prism_bg.jpg") no-repeat;
    background-size: 100%;
}
.prism_login_container{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 530px;
    height: 360px;
    margin-top: -180px;
    margin-left: -265px;
    background-color: #fff;
}
.prism_login_container .logo_box{
    float: left;
    width: 170px;
    height:360px;
    background:#3a87ed url("../images/side.png");
    background-size: 100%;
    border-radius: 4px 0 0 4px;
}
.prism_login_container .login_box{
    float: left;
    width: 360px;
    height:360px;
    border-radius: 0 4px 4px 0;
}
.prism_login_container .login_box .login{
    width: 240px;
    margin: 0 auto;
    padding-top: 44px;
}
.login_box .login .log_title{
    padding-bottom: 18px;
}
.login_box .login .log_title h2{
    float: left;
    height: 30px;
    border-bottom: 3px #4090ff solid;
    color: #666;
    font: normal 18px/30px 'Microsoft YaHei';
}
.login_box .login .log_fill{
    padding: 15px 0 20px 0;
    height: 20px;
    color: #666;
    font: normal 12px/20px 'Simsun';
}
.login_box .login .log_fill label{
    float: left;
    font: normal 12px/20px 'Simsun';
}
.login_box .login .log_fill input{
    float: left;
    width: 190px;
    padding-left: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
    border-bottom: 1px #ddd solid;
    color: #333;
    font: normal 14px/20px 'Microsoft YaHei';
}
.login_box .login .log_fill.false input[type=password]{
    color: #fe571e;
    font-size: 12px;
}
.login_box .login .log_tips{
    font: normal 12px/20px 'Simsun';
}
.login_box .login .log_tips label{
    font: normal 12px/20px 'Simsun';
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.login_box .login .log_tips i.prism_icon{
    width: 14px;
    height: 12px;
    margin: 4px 4px 0 0;
    background-position: -23px 0;
}
.login_box .login .checked i.prism_icon{
    background-position: 0 0;
}
.login_box .login .log_tips .tips{
    float: left;
    height: 20px;
    margin-right: 20px;
}
.login_box .login .log_tips .free_login{
    cursor: pointer;
}
.login_box .login .log_tips .password_tips{
    color: #fe571e;
}
.login_box .login .log_tips .tips .iconfont{
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.login_box .login .login_btn{
    display: block;
    height: 36px;
    margin-top: 20px;
    background-color: #e3e3e3;
    border-radius: 4px;
    color: #fff;
    font: normal 14px/36px 'Simsun';
    text-align: center;
    letter-spacing: 4px;
}
.login_box .login .login_btn.active_btn{
    background-color: #4cc159;
}
.login_box .login .login_btn:hover{
    background-color: #4cc159;
}
