
.brand_map_container{width: 980px;}
.brand_map_container .crumbs_box{height: 40px;border-bottom: solid 1px #e5e5e5;background-color:#fafafa;color: #666;font: normal 12px/40px 'simsun';}
.brand_map_container .crumbs_box .crumbs,.brand_map_container .crumbs_box .crumbs a {color: #666;}
.brand_map_container .crumbs_box .crumbs a{display: inline-block;}


/*查询条件 S*/
.search_condition_box .condition_box{margin-top: 10px;}
.search_condition_box .condition_box .item{float: left;width: 33.3%;height: 24px;margin: 5px 0;}
.search_condition_box .condition_box .item .form_name{float: left;width: 90px;margin-top: 5px;color: #666;text-align: right;}
.search_condition_box .condition_box .item .ipt{width: 195px;height: 22px;padding-left: 3px;border: solid 1px #ccc;line-height: 22px;color: #666; outline: none;}
.search_condition_box .condition_box .item .select_box{width: 200px;height: 24px;padding-left: 3px;border: solid 1px #ccc;line-height: 24px;color: #666;outline: none;}
.search_condition_box .condition_box .item .select_box option{line-height: 20px;}
.search_condition_box .btn_box{width: 100%; margin: 20px 0 15px 0;text-align: center}
.search_condition_box .btn_box a{display: inline-block;width: 88px;height: 28px;margin: 0 5px;background-color: #fff;border: solid 1px #47536b;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;color: #47536b;text-align: center;line-height: 28px;}
.search_condition_box .btn_box a.deep_blue{background-color: #47536b;color: #fff;}
/*日历*/
.search_condition_box .Wdate {
    width: 85px;
    padding: 0 3px;
    border: solid 1px #ccc;
    outline: none;
    cursor: pointer;
}
.search_condition_box .from_to {
    margin: 0 5px;
    color: #ccc;
}
.WdateDiv {
    width: 180px;
    background-color: #FFFFFF;
    border: #bbb 1px solid;
    padding: 2px;
}
/*查询条件 E*/
/*table global - S*/
.pr20{padding-right: 20px;}
.pl20{padding-left: 20px;}
.ml5{margin-left: 5px;}
.mb20{margin-bottom: 20px;}
.align_left{text-align: left;}
.align_right{text-align: right;}
.align_center{text-align: center;}
/*table global - E*/

/*nomal table - S*/
.normal_table thead tr{height: 40px;background-color: #ededed;color: #333;font-family: 'microsoft yahei';font-size: 14px;}
.normal_table thead tr th{border-bottom: solid 1px #e6e6e6;font-weight: normal;text-align: center;}
.normal_table tbody tr{height: 60px;background-color: #f7f7f7;color: #666;font-family: 'simsun';}
.normal_table tbody tr:nth-child(odd){background-color: #fff;}
.normal_table tbody tr:nth-child(even){background-color: #f7f7f7;}
.normal_table tbody tr td{border-bottom: solid 1px #e6e6e6;text-align: center;}
.normal_table tbody tr:hover{background-color: #f1f4fa;}
.normal_table .long_txt{line-height: 18px;word-wrap: break-word;}
.normal_table .long_txt2{width: 135px;word-wrap: break-word;}
/*nomal table - E*/

/*表格 S*/
.brand_map_container .table_box{margin-top: 15px;border-top: solid 1px #aed2ff;}
.brand_map_container .table_box .table_con{margin: 10px 0;}
.brand_map_container .table_box .table_handle{padding: 20px 0px 0px;}
.brand_map_container .table_box .check_results{
    float: left;
    width: 103px;
    height: 22px;
    margin-right: 10px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    line-height: 22px;
    color: #666;
}
.brand_map_container .table_box .check_results:hover{border-color: #ccc;background-color: #eee;}
.brand_map_container .table_box .handle_type{float: right;height: 24px;margin-left: 15px;padding-left: 14px;background: url(../images/sprite.png) no-repeat;line-height: 24px;}
.brand_map_container .table_box .export_results{background-position: 0 -52px;}
/*.brand_map_container .table_box .normal_table{margin: 0 auto 10px;}*/
.brand_map_container .normal_table .handle_td{position: relative;}
.brand_map_container .normal_table .handle_td .editor_btn{}
.brand_map_container .normal_table .handle_td .has_tooltip{float: left;}
.brand_map_container .normal_table .handle_td a{float: left;margin: 8px;}

.brand_map_container .normal_table .handle_td a.gray_link{color: #aaa;cursor: no-drop;}
.brand_map_container .handle_td .tooltip_box{position: absolute;width: 130px;left: -38px;top: 45px; padding: 5px 0;background-color: #fff;border: solid 1px  #d2d8dc;z-index: 2}
.brand_map_container .handle_td .tooltip_box s{position: absolute;left: 50%;top:-13px;width: 0;height: 0;margin-left: 26px;border-style: dotted dashed solid;border-color: transparent transparent #d2d8dc transparent;border-width: 6px;font-size: 0;line-height: 0;}
.brand_map_container .handle_td .tooltip_box s.under{top:-11px;border-color: transparent transparent #fff transparent;}
.brand_map_container .handle_td .tooltip_box .tip{padding: 3px 0;line-height: 20px;color: #666;text-align: center;}
.brand_map_container .handle_td .tooltip_box .btns_box{padding-bottom: 10px;}
.brand_map_container .handle_td .tooltip_box .btns_box a{
    display: inline-block;
    width: 60px;
    height: 24px;
    margin: 0 2px;
    background-color: #f99a34;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.brand_map_container .handle_td .tooltip_box a.confirm{background-color: #e5e5e5;color: #666;}
.brand_map_container .table_box .page_box{padding: 8px 0px  20px;}
.brand_map_container .page_box .page_choose input{width: 30px;height: 16px;margin: 0 3px;padding: 2px;border: solid 1px #ccc;outline: none;}
.brand_map_container .page_box .confirm{
    float: right;
    width: 45px;
    height: 22px;
    padding: 0;
    background-color: #feeac9;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: #f87200;
    line-height: 22px;
    text-align: center;
}
/*table_box -E*/

/*page - S*/
.page-model{ padding-bottom:10px;}
.yhdbk-page {color: #999; }
.yhdbk-page .page-num {float: left;margin: 0 5px;line-height: 20px;}
.yhdbk-page .page-num select{width: 46px;height:22px;margin: 0 5px;border: solid 1px #ccc;line-height: 22px;outline: none;}
.yhdbk-page a {border: 1px  solid #eee;background: #fff;color: #666;float: left;margin-left: 5px;padding: 2px 7px;line-height: 17px;}
.yhdbk-page .page-prev {position: relative;height:18px;padding-left: 12px;}
.yhdbk-page .page-prev s {position: absolute;top: 7px;left: 3px;width: 0;height: 0;overflow: hidden;padding: 0;border: 4px solid transparent;_border-style: dashed;font-size: 0;border-right-color: #999;line-height: 0;}
.yhdbk-page .page-next {position: relative;height:18px;padding-right: 12px;}
.yhdbk-page .page-next s {position: absolute;top: 7px;right: 3px;width: 0;height: 0;overflow: hidden;padding: 0;border: 4px solid transparent;_border-style: dashed;font-size: 0;border-left-color: #999;line-height: 0;}
.yhdbk-page .pageOp {float: left;margin-left: 5px;padding: 4px 5px;border: 0 none;font-size: 12px;}
.yhdbk-page .pageOp.go {position: relative;margin: -4px 0 0 0;}
.yhdbk-page .pageOp input {width: 30px;height: 16px;border: 1px solid #dfdfdf;padding: 2px; outline:none;}
.yhdbk-button-01 {display: inline-block;padding: 3px 15px;margin-bottom: 0;cursor: pointer;border: 1px solid transparent;border-radius: 3px;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;background: #f99a34;color: #fff;
    line-height: 1.428571429;font-size: 12px;font-weight: bold;vertical-align: middle;text-align: center;white-space: nowrap;font-family: simsun; outline:none;}
.yhdbk-page a:hover {border: 1px solid #eee;background: #eee;color: #999;}
.yhdbk-page .page-cur , .yhdbk-page .page-cur:hover {border: 1px solid #ff9902;background: #ff9902;color: #fff;font-weight: bold;}
/*page - E*/





/*
 *@Description: JD类目映射
 *@Author: shiwen
 *@Update: shiwen(2016-10-25)
*/

/*--- @通用遮罩层 ----*/
.popup_iframe{position:absolute;top:0;left:0;z-index:470;width:100%;background-color:#000;filter:alpha(opacity=70);opacity:0.3;}
.popup_mask{position: absolute;top:0;left: 0;z-index: 480;width: 100%; height:100%;background-color: #000;filter: alpha(opacity=70);opacity: 0.6;}
/*--- @通用弹窗模块 ----*/
.Ag_common_dialog{display:none;position:absolute; left:50%; z-index:500;border:4px solid #CCC; border-color:rgba(0 ,0 ,0 ,.2); font-family: "Microsoft YaHei"; }
.Acd_rel_dialog{ position:relative; border:1px solid #B4B4B4;background:#fff;}
.Acd_rel_head{height: 52px;margin:0 10px;background: url("../images/spwin_title.png") repeat-x 0 bottom;color: #333;font-size: 14px;line-height: 52px;}
.Acd_rel_head h3{padding:0 12px;line-height: 52px;}
.Acd_rel_body{ padding:20px;background-color:#fff;}
.Acd_rel_body .tips{color: #999;line-height: 30px;text-align: center;}
.dialog_sure{width: 100px;margin: 15px auto;}
.dialog_sure span{float: right;width: 60px;font-weight: bold;line-height: 32px;}
.dialog_main_close{position: absolute;top:20px;right:20px; width:10px;height:10px;background:url("../images/sprite.png") no-repeat 0px -65px; }
.icon-tips{float:left;width: 30px;height: 30px;background: url("../images/sprite.png") no-repeat;vertical-align: middle;}
.icon-yes{background-position:0px -1px;}
.icon-warning{background-position:0px -33px;}

/*弹窗 S*/
.Acd_rel_body .pop_items {width: 100%; margin-top: 10px;}
.Acd_rel_body .form_name{float: left;height: 24px;overflow: hidden;color: #666;line-height: 24px;text-align: right;}
.Acd_rel_body .form_cont{float: left;color: #666;}
.Acd_rel_body .form_cont .cont_text{line-height:24px;}
.Acd_rel_body .form_cont .file_upload {width:200px;border: 1px #ccc solid;line-height: 22px;}
.Acd_rel_body .form_cont .file_upload input{margin-left:2px;line-height: 22px;outline: none;}
.Acd_rel_body .form_cont .blue_link{display: inline-block;margin: 0 5px 0 10px; line-height: 24px;}
.Acd_rel_body .importing_box{width: 280px;line-height: 40px;text-align: center;}
.Acd_rel_body .importing_box{line-height: 30px;}
.Acd_rel_body .importing_box i.icon-tips{float:none;display: inline-block;}
/*映射品牌按钮 弹窗*/
.brank_map_body{width: 360px;}

.brank_map_body .importing_box{height: 24px;}
.brank_map_body .yhd_brand{width: 200px;height: 22px;line-height: 22px;outline: none;text-indent: 6px;overflow: hidden;}
/*导出弹窗*/
.export_pop_body{width: 400px;}
.export_pop_body ul.export_box li{padding: 5px 0; text-align: center;}
.export_pop_body ul.export_box li .export_num_btn{
    display: inline-block;
    width: 170px;
    height: 22px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    line-height: 22px;
    color: #666;}
.export_pop_body ul.export_box li .export_num_btn:hover{background-color:#eb734e;color: #fff;}
.export_pop_body ul.export_box li .export_num_btn.choosed{background-color:#eb734e;color: #fff;}
.export_pop_body ul.export_box li img{width: 20px;height: 22px;margin: 0 3px;}
.Acd_rel_body .importing_box img{width: 40px;height: 40px;}
.Acd_rel_body .importing_box span{margin-left: 10px;}
.Acd_rel_body .form_cont .select_ipt{ float: left;width: 200px; height: 22px;outline: none;text-indent: 5px;border: solid 1px #ccc;color: #666;line-height: 22px;}
.Acd_rel_body .form_cont .search{
	float: left;
    width: 58px;
    height: 22px;
    margin-left:10px;
    border: 1px solid #FEEAC9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: #FEEAC9;
    color: #f87200;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}
.Acd_rel_body .form_cont .search:hover {background-color: #fad9a3;border-color: #fad9a3;}

.Acd_rel_body .popup_btn_box{margin-top: 20px;text-align: center;}
.Acd_rel_body .popup_btn_box a.com_btn{
	display: inline-block;
	width: 90px;
	height: 30px;
	margin: 0 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #eb734e;
	color: #fff;
	line-height: 30px;
	font-family: 'simsun';
	text-align: center;
}
.Acd_rel_body .popup_btn_box a.gray{background-color: #e5e5e5; color:#666;}
.Acd_rel_body .popup_btn_box a.com_btn:hover{background-color: #fb6536;border-color: #fb6536; color:#fff;}
/*弹窗 E*/

















