.sale_count{
    width: 950px;
    height: 84px;
    padding: 35px 15px;
    margin: 0 auto;
    background-color: #fc8b37;
    overflow: hidden;
}
.sale_count .txt,.sale_count .num{
    _display: inline;
    float: left;
    /*vertical-align: bottom;*/
    color: #333;
}
.sale_count .txt{
    height: 42px;
    margin: 42px 0 0;
    line-height: 42px;
    font-size: 24px;
    font-family: 'Microsoft Yahei';
    font-weight: bold;
}
.sale_count .num{
    margin-right: 10px;
}
.sale_count .num li{
    float: left;
    width: 66px;
    height: 84px;
    margin-left: 6px;
    background: url("../images/shadow_box.png") no-repeat;
    line-height: 84px;
    font-family: 'Impact';
    font-size: 60px;
    text-align: center;
}

/*
*update by yuting2 on 2016-08-09
*about 参与人数
*/
.num_of_people .txt{margin-left: 52px;margin-right: 18px}
.num_of_people .unit{margin-left: 18px;margin-right: 0;}